doctype html
html(lang='en' ng-app='records')
    head
        title Email Records
        link(rel='stylesheet', href='../css/app.css')
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js')
    block header